* {
  margin: 0px;
}

#welcome-row {
  height: 100vh;
}

#mainWelcomeImage {
  position: relative;
}
#whiteTwitterLogo {
  width: 60%;
  height: 50%;
  position: absolute;
  bottom: 20%;
}
#blueTwitterLogo {
  width: 40px;
  height: 40px;
  margin: 10px;
}
.welcome {
  font-family: Verdana, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif;
}
#aLogin {
  width: 20px;
  height: 20px;
}
