* {
  margin: 0px;
}

#welcome-row {
  height: 100vh;
}

#mainWelcomeImage {
  position: relative;
}
#whiteTwitterLogo {
  width: 60%;
  height: 50%;
  position: absolute;
  bottom: 20%;
}
#blueTwitterLogo {
  width: 40px;
  height: 40px;
  margin: 10px;
}
.welcome {
  font-family: Verdana, -apple-system, "Segoe UI", Helvetica, Arial, sans-serif;
  font-weight: bold;
}
#h1 {
  margin-top: 50px;
  margin-bottom: 50px;
}
#h2 {
  margin-bottom: 50px;
}
#googleLogo {
  width: 15px;
  height: 15px;
}
#appleLogo {
  width: 15px;
  height: 15px;
}
#btn-login {
  color: #1c9cf4;
  border-color: #1c9cf4;
  font-weight: 700;
}

#btn-registerApple {
  margin-top: 10px;
  color: black;
  font-weight: 700;
  margin-bottom: 10px;
}
#registerNumber {
  color: white;
  background-color: #1c9cf4;
  border-color: #1c9cf4;
  margin-top: 10px;
  margin-bottom: 10px;
}
#twitterHomeLogo {
  padding: 10px;
  width: 50px;
  height: 50px;
  margin: 10px;
}
#twitterHomeLogo:hover {
  background-color: rgb(198, 196, 196);
  border-radius: 50%;
}
.buttonSidebar {
  background-color: white;
  border: 0cm;
  font-size: large;
}
.buttonSidebar:hover {
  background-color: rgb(198, 196, 196);
}

#col-sidebar {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
#sidebar-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
a {
  text-decoration: none;
  color: black;
}
#sidebar-profile {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
}
#avatar-home,
#avatar-profile {
  border-radius: 50%;
  margin-bottom: 10px;
}
#btn-tweet {
  background-color: #1c9cf4;
  border-color: #1c9cf4;
}
#whoToFollow {
  background-color: rgb(245, 243, 243);
  border-radius: 5px;
}
#avatar-colleft {
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
